**/__pycache__
**/.cache
**/.env
**/.env.*
**/.venv
**/Dockerfile
**/node_modules
**/public
**/README.md
.dockerignore
.github
.gitignore
.kontinuous
.pylintrc
.releaserc.yml
.vscode
CHANGELOG.md
docker-compose.yml
LICENSE
node_modules
pyrightconfig.json
README.md
seeds.sql
TODO.md
.next
.git
