@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-family: "Marianne", Arial, sans-serif;
}

body {
  background-color: #ffffff;
  color: #383838;
  line-height: 1.4;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  margin-top: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.1;
  color: #1e1e1e;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
p,
ul {
  font-size: 1rem;
  margin-bottom: 1.75em;
  font-size: 1.125rem;
}
@media screen and (min-width: 640px) {
  h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  ul {
    font-size: 1.125rem;
  }
}

a {
  color: #000091;
}

input,
select,
textarea {
  color: #1e1e1e;
}

strong {
  color: #000091;
  font-weight: inherit;
}
