ul {
    list-style: none;
    li {
        display: flex;
        flex-direction: row;
        details {
            flex: 1;
        }
        a {
            flex: 0 0 50px;
        }
    }
}

form {
    div {
        display: flex;
        flex-direction: row;
    }
}

abbr {
    text-decoration: none;
}

.search {
    label[for="categories"] {
        margin-bottom: 1em;
    }
    .label-inline {
        font-size: 2em;
    }
    input[type="checkbox"] {
        display: none;
    }

    :not(:checked) + label {
        opacity: 0.33;
    }

    :checked + label {
        opacity: 1;
    }
}