main {
    padding: 0 calc( max(5px, ( 100vw - 50rem ) / 2 ));
}

label{
    padding: 1em;
    border: 1px solid #DDD;
    text-transform: capitalize;
}

label:hover{
    background-color: #EEE;
}

label input{
    margin: 0 0.5em;
    vertical-align: middle;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.recommz > li{
    margin: 0.5em 0;
    position: relative;
}

.recommz > li:hover{
    background-color: #EEE;
    
}

.recommz > li::before{
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;

    position: absolute;
    left: -2em;
    top: 0.25em;

    border-radius: 50%;
}

.recommz > li.recommandability-utilisable::before{
    background-color: hsl(108, 80%, 50%);
}
.recommz > li.recommandability-non-utilisable::before{
    background-color: hsl(0, 80%, 50%);
}

.recommz > li details{
    color: grey
}
.recommz > li details summary{
    color: black;
    margin-bottom: 0.2em;
}