
@media (min-width: 565px) {

    .hero__container {
        p {
            width: 40em;
            line-height: 1.5em;
        }
    }
    .row {
        & > * {
            width: 40%;
        }
        & > * + * {
            margin-left: 5em;
        }
    }

    .row + .row {
        padding-top: 5em;
    }

    ul {
        padding: 0;
    }
}

.sub {
    font-variant-position: sub;
}

li + li {
    margin-top: 0.5em;
}

.section-color {
    .hero {
        background-color: unset;
        .hero__container {
            p {
                color: #fff;
            }
            button {
                margin: unset;
            }
        }
    }
}

.button.larger {
    &, &:active, &:focus, &:visited {
        font-size: 2em;
    }
}

.bullet::before {
  content: "•";
  display: inline-block;
  width: 1em;
  margin-left: -1em
}