
div.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.panel-grey {
    @extend .panel;
    background-color: var(--theme-background-grey)
}

.recommandation > h6 {
    padding: 0 2em;
}