@import 'settings';
@import 'foundation-emails';

td,
th {
  word-wrap: inherit;
  hyphens: inherit;
}

th.callout-inner {
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: $global-radius;
}

th.callout-inner.success {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
}
th.callout-inner.secondary {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  background-image: url('../assets/img/background-blue.png');
}
.hide-for-large {
  display: block !important;
}

strong {
  font-family: $header-font-family;
}

.color {
  color: $primary-color;
}

.white {
  margin: 0;
  color: $white;
}
.blue {
  color: $primary-color;
}
.black {
  color: $black !important;
}

.tiny {
  font-size: 12px;
}
.small {
  font-size: 14px;
}

.no-margin {
  margin-bottom: 0;
}
sup {
  line-height: 0;
}
